<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css"> <!-- Asegúrate de tener un archivo CSS aquí -->
</head>
<body>
  <header>
    <h1>Mi Aplicación</h1>
  </header>

  {{{body}}} <!-- Aquí se insertará el contenido de cada vista -->

  <footer>
    <p></p>
  </footer>

  <script src="/js/main.js"></script> <!-- Opcionalmente, agrega JavaScript aquí -->
</body>
</html>
