<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Bienvenido a Mi Aplicación</h1>
  </header>

  <main>
    <p><a href="/">Ir a la Lista de Productos</a></p>
    <p><a href="/realtimeproducts">Ir a Productos en Tiempo Real</a></p>
  </main>

  <footer>
    <p></p>
  </footer>
</body>
</html>
